<head>
<style>

.btn-group-vertical button {
    background-color: #4CAF50;
    border: 1px solid black;
    vertical-align: center;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    width: 100%;
    display: block;
}

.aaaa {
  background-color: #4CAF50;
  border: 1px solid black;
  vertical-align: center;
  text-align: center;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  width: 100%;
  display: block;
}




.btn-group button:not(:last-child) {
    border-bottom: none;
}


.btn-group button:hover {
    background-color: #3e8e41;
}
</style>


</head>
<body>
	

	<div class="btn-group-vertical" style="width: 100%">
	  <a class="aaaa" href="/users/sign_up">Music</a>
    <a class="aaaa" href="/users/sign_up">Animals</a>
    <a class="aaaa" href="/users/sign_up">Medical</a>
    <a class="aaaa" href="/users/sign_up">Technology</a>
    <a class="aaaa" href="/users/sign_up">Social</a>
    <a class="aaaa" href="/users/sign_up">Education</a>
    <a class="aaaa" href="/users/sign_up">Ecologic</a>
    <a class="aaaa" href="/users/sign_up">Sports</a>
    <a class="aaaa" href="/users/sign_up">Food</a>
    <a class="aaaa" href="/users/sign_up">Applications</a>
    <a class="aaaa" href="/users/sign_up">Architecture</a>


	</div>

</body>
