<head>
<style>

.btn-group-vertical button {
    background-color: #4CAF50; 
    border: 1px solid black; 
    vertical-align: middle;
    color: white; 
    padding: 10px 24px; 
    cursor: pointer; 
    width: 100%; 
    display: block; 
}


.btn-group button:not(:last-child) {
    border-bottom: none; 
}


.btn-group button:hover {
    background-color: #3e8e41;
}
</style>

	
</head>
<body>
	<h1> HOLA MUNDO </h1>
	
	<div class="btn-group-vertical" style="width: 100%">
	  <button>Music</button>
	  <button>Animals</button>
	  <button>Medical</button>
	  <button>Technology</button>
	  <button>Social</button>
	  <button>Education</button>
	  <button>Ecologic</button>
	  <button>Sports</button>
	  <button>Food</button>
	  <button>Applications</button>
 	  <button>Architecture</button>

	</div>					
	
</body>
