<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CrowdChile</title>


    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <link href="css/2-col-portfolio.css" rel="stylesheet">

  </head>


    <div class="container">


      <h1 class="my-4"><b>₡rowdChile.</b>
        <small>Browse the best projects in our website:</small>
      </h1>

      <div class="row">
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="/projects/1"><img class="card-img-top" src="http://mehiganco.com/wordpress/wp-content/uploads/2016/01/Bitcoin-700x400.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/projects/1">BitClinic</a>
              </h4>
              <p class="card-text">A project made to make your life easier. BitClinic connects your medical information with clinics, in a safe and private way.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="/projects/3"><img class="card-img-top" src="https://cache.radissonhotels.com/galleries/radblu/hotels/cities/Cesme-700x400.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="projects/3">EasyVacation</a>
              </h4>
              <p class="card-text">An easy and cheap way to go to the places you dream of. Hop on!.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="/projects/2"><img class="card-img-top" src="http://thecathedral.org.uk/wp-content/uploads/meerkat-1309608-700x400.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/projects/2">Save the meerkats</a>
              </h4>
              <p class="card-text">Meerkats are endangered species from Africa. Help us with our project and help them with their lifestyle.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="/projects/4"><img class="card-img-top" src="https://www.etradesupply.com/blog/wp-content/uploads/2017/05/%E5%9B%BE%E7%89%871-700x4001.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/projects/4">MobileMe</a>
              </h4>
              <p class="card-text">Everyone in the world deserves to be connected. With MobileMe, it is easier to access all kinds of technology all around the world.</p>
            </div>
          </div>
        </div>

      </div>





    </div>

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; CrowdChile, created by Juan Valdivieso and Juan Campos</p>
      </div>

    </footer>


    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
